rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow read and write access to all files for any user.
    // This is safe for a demo app and will be restricted later if needed.
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
