rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and write access to all paths for any user, including unauthenticated.
      // This is for demonstration purposes and should be secured for production.
      allow read, write: if true;
    }
  }
}
